[Desktop Entry]
Name=Keyboard
Comment=Virtual Keyboard
Exec=xkbd
Type=Application
Icon=xkbd
Categories=Utility;Accessibility
X-MB-INPUT-MECHANSIM=True
